@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
  .icon {
    @apply mr-1 h-2 w-2 sm:h-2.5  sm:w-2.5 md:h-3 md:w-3;
  }

  .nav {
    @apply flex md:justify-between justify-center items-center	 bg-border h-10 px-8  md:px-20 text-xxxs   text-text sm:text-xs;
  }

  .border-b-1 {
    border-bottom-width: 1px;
  }

  .border-1 {
    border-width: 1px;
  }

  .search-button {
    @apply h-12 w-12 bg-background3 flex items-center justify-center cursor-pointer;
  }

  .search-button-under {
    @apply h-8 w-8 sm:h-10 sm:w-10 bg-background3 flex items-center justify-center cursor-pointer;
  }

  .search {
    @apply flex w-full justify-center items-center focus-within:border-1 focus-within:rounded-xl focus-within:border-primary border-1 rounded-xl border-background3;
  }

  .search-input {
    @apply h-12 sm:w-40 md:w-48 lg:w-80 bg-background3 focus:outline-none placeholder:text-text placeholder:text-sm;
  }

  .search-under {
    @apply h-8 sm:h-10 w-full bg-background3 focus:outline-none placeholder:text-text placeholder:text-xs;
  }

  .mid-text {
    @apply text-text text-xxs sm:text-sm md:text-base;
  }

  .opacity-0.translate-y-full {
    animation: fadeOutToTop 1s forwards;
  }

  .opacity-100.translate-y-0 {
    animation: fadeInFromTop 1s forwards;
  }

  .navbar {
    transform: translateY(0);
  }
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutToTop {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30%);
  }
}
